<!doctype html>
<html class="no-js" lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Clinica del Sur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block cabecera %}{% endblock %}
    

</head>

<body>
    <div id="preloader">
        <div class="loader"></div>
    </div>

    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="/inicio"><img src="{{ url_for('static', filename='assets/images/logo.png') }}" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li id="nav_inicio">
                                <a href="/inicio" aria-expanded="true"><i class="ti-dashboard"></i><span>Inicio</span></a>
        
                            </li>
                            <li id="nav_gestion_usuarios">
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-layout-sidebar-left"></i><span>Gestion de Usuarios
                                        
                                    </span></a>
                                <ul class="collapse">
                                    <li id="nav_usuarios"><a href="/usuarios">Usuarios</a></li>
                                    <li id="nav_roles_usuarios"><a href="/roles">Roles de Usuario</a></li>
                                </ul>
                            </li>
                            <li id="nav_gestion_pacientes">
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-pie-chart"></i><span>Gestion de Pacientes</span></a>
                                <ul class="collapse">
                                    <li id="nav_pacientes"><a href="/pacientes">Pacientes</a></li>
                                    <li id="nav_signos_vitales"><a href="/control_signos_vitales">Hoja de Signos Vitales</a></li>
                                    <li id="nav_informacion"><a href="/">Informacion</a></li>
                                    
                                    <li id="nav_estados"><a href="/">Estados</a></li>
                                </ul>
                            </li>
                            <li id="nav_gestion_consultas">
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-pie-chart"></i><span>Evaluaciones</span></a>
                                <ul class="collapse">
                                    
                                    <li id="nav_lista_tomografias"><a href="/tomografia_listar">Tomografia</a></li>
                                    <li id="nav_resultados_tomografias"><a href="/tomografia_resultados">Consultas</a></li>
                                    <li id="nav_historial_clinico"><a href="/">Historial clinico</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">

                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="search-box pull-left">
                            <form action="#">
                                <input type="text" name="search" placeholder="Buscar..." required>
                                <i class="ti-search"></i>
                            </form>
                        </div>
                    </div>

                    
                </div>
            </div>
            <!-- header area end -->
            <div class="contenido">
                <!-- page title area start -->
                <div class="page-title-area">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            {% block titulo_contenido %}{% endblock%}
                            
                        </div>
                        <div class="col-sm-6 clearfix">
                            <div class="user-profile pull-right">
                                <img class="avatar user-thumb" src="{{url_for('static', filename='assets/images/author/avatar.png')}}" alt="avatar">
                                <!--h4 id="perfil_nombre_usuario" class="user-name dropdown-toggle" data-toggle="dropdown"><span>Pepito Perez</span> <i class="fa fa-angle-down"></i></h4-->
                                <h4 class="user-name dropdown-toggle" data-toggle="dropdown">{{identidad.nombres_usuario}} {{identidad.apellido_paterno}} <i class="fa fa-angle-down"></i></h4>
                                <div class="dropdown-menu">

                                    <a class="dropdown-item" href="#">Configuracion</a>
                                    <a class="dropdown-item" href="#">Cerrar Sesion</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- page title area end -->
                
                {% block contenido %}{% endblock %}
            </div>
            
        </div>
        <!-- main content area end -->
         <div>
            <!--La parte central del contenido ************************************************************ -->
            
         </div>
        
    </div>
    <!-- page container area end -->
        <!--script src="{{ url_for('static', filename='assets/js/consultar_datos.js')}}"></script-->
        

</body>

</html>
