{% extends 'plantilla.html' %}

{% block cabecera %}
    <link rel="shortcut icon" type="image/png" href="{{url_for('static',filename='assets/images/icon/favicon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/themify-icons.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/metisMenu.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/slicknav.min.css')}}">

    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">

    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/typography.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/default-css.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/responsive.css')}}">

    <script src="{{url_for('static',filename='assets/js/vendor/modernizr-2.8.3.min.js')}}"></script>
{% endblock %}

{% block titulo_contenido %}
    <div class="breadcrumbs-area clearfix">                  
        <h4 class="page-title pull-left">Gestion de Pacientes</h4>
        <ul class="breadcrumbs pull-left">
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/pacientes">Pacientes</a></li>
            <li><span>Ver Pacientes</span></li>
        </ul>
    </div>
{% endblock %}

{% block contenido %}

    <div class="main-content-inner">
        <div class="row">

            <div class="col-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Paciente</h4>
                        <div class="row">
                            <div class="col-12">
                                <p><strong>Nombres y Apellidos: </strong> {{paciente.nombres}} {{paciente.apellido_paterno}} {{paciente.apellido_materno}}</p>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p><strong>Carnet: </strong>{{paciente.carnet}}</p>
                                <!--div class="grid-col">
                                    PARA COLOCAR EN UN RECUADRO
                                </div-->
                            </div>
                            <div class="col-md-4">
                                <p><strong>Seguro: </strong>{{paciente.seguro}}</p>
                                
                            </div>
                            <div class="col-md-4">
                                <p><strong>Fecha de Nacimiento: </strong>{{paciente.fecha_nacimiento}}</p>
                                
                            </div>
                        </div>
                        
                        <br>
                        
                        <!--a href="/control_signos_vitales/pdf/{{paciente.id_paciente}}" target="_blank"><button type="button" class="btn btn-outline-info mb-3"><i class="fa fa-file-pdf-o"> Generar Informe</i></button></a-->
                        <br>
                        <br>

                        {% if identidad['id_rol']==2 %}
                            <a href="" class="text-success" type="button" data-toggle="modal" data-target="#LongModalLongCrear"><i class="fa fa-file-text"></i> Agregar Consulta</a>
                        {% endif %}

                        
                        
                        
                        <div class="modal fade" id="LongModalLongCrear">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Agregar Consulta</h5>
                                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="crear_paciente_form" action="/pacientes/consultas/agregar/{{paciente.id_paciente}}" method="POST" enctype="multipart/form-data">
                                            <!--form id="crear_usuario_form"-->
                                                
                                                <div class="form-group">
                                                    <label for="nombrePaciente">Nombre del Paciente</label>
                                                    <input class="form-control" type="text" id="nombrePaciente" name="nombrePaciente" value="{{paciente.nombres}} {{paciente.apellido_paterno}} {{paciente.apellido_materno}}" readonly>
                                                </div>

                                                <div class="form-group">
                                                    <label for="input_fecha" class="col-form-label">Fecha Consulta</label>
                                                    <input class="form-control" name="input_fecha" type="date" value="" id="input_fecha">
                                                </div>

                                                <div class="form-group">
                                                    <label for="input_motivo_consulta" class="col-form-label">Motivo de Consulta</label>
                                                    <input class="form-control" name="input_motivo_consulta" type="text" value="" id="input_motivo_consulta">
                                                </div>
                                                <div class="form-group">
                                                    <label for="input_historia_enfermedad" class="col-form-label">Descripción Enfermedad Actual</label>
                                                    <input class="form-control" type="textarea" value="" id="input_historia_enfermedad" name="input_historia_enfermedad">
                                                </div>
                                                <div class="form-group">
                                                    <label for="input_enfermedades" class="col-form-label">Enfermedades</label>
                                                    <input class="form-control" type="text" value="" id="input_enfermedades" name="input_enfermedades">
                                                </div>
                                                <div class="form-group">
                                                    <label for="input_tabaco">Consulmo de Tabaco</label>
                                                    <select class="custom-select" id="input_tabaco" name="input_tabaco">
                                                        <option selected="selected">Selecciona una opcion</option>
                                                        <option value="Si">Si</option>
                                                        <option value="No">No</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="input_alcohol">Consulmo de Alcohol</label>
                                                    <select class="custom-select" id="input_alcohol" name="input_alcohol">
                                                        <option selected="selected">Selecciona una opcion</option>
                                                        <option value="Si">Si</option>
                                                        <option value="No">No</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="input_drogas">Consulmo de Drogas</label>
                                                    <select class="custom-select" id="input_drogas" name="input_drogas">
                                                        <option selected="selected">Selecciona una opcion</option>
                                                        <option value="Si">Si</option>
                                                        <option value="No">No</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="input_diagnostico" class="col-form-label">Diagnostico</label>
                                                    <input class="form-control" type="text" value="" id="input_diagnostico" name="input_diagnostico">
                                                </div>
                                                <div class="form-group">
                                                    <label for="input_tratamiento" class="col-form-label">Tratamiento</label>
                                                    <input class="form-control" type="text" value="" id="input_tratamiento" name="input_tratamiento">
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label for="input_internacion_paciente">Internación del Paciente</label>
                                                    <select class="custom-select" id="input_internacion_paciente" name="input_internacion_paciente">
                                                        <option selected="selected">Selecciona una opcion</option>
                                                        <option value="1">Si</option>
                                                        <option value="0">No</option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label for="input_codigo_consulta" class="col-form-label">Código de Consulta</label>
                                                    <input class="form-control" type="text" value="" id="input_codigo_consulta" name="input_codigo_consulta">
                                                </div>
                                                        
                                                
                                                <button id="boton_agregar_consulta" type="submit" class="btn btn-success mb-3">Agregar Consulta</button>
                
                                            </form>
                                        
                                        
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                        <!--button for="crear_usuario_form" type="submit" class="btn btn-success">Agregar Usuario</button-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <br>
                        <br>
                        <div class="data-tables">
                            
                            <table id="dataTable" class="text-center">
                                
                                <thead class="bg-light text-capitalize">
                                    <tr>
                                        <th>No.</th>
                                        <th>Doctor</th>
                                        <th>Motivo de Consulta</th>
                                        <th>Diagnostico</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    {% if consultas %}
                                        {% for consulta in consultas %}
                                            <tr>
                                                <td>{{consulta.id_consulta}}</td>
                                                
                                                <td>{{consulta.apellido_paterno_usuario}} {{consulta.apellido_materno_usuario}}</td>
                                                <td>{{consulta.motivo}}</td>
                                                <td>{{consulta.diagnostico}}</td>
                                                <td>
                                                    <ul class="d-flex justify-content-center">
                                                        <!--li class="mr-3"><a href="/pacientes/editar/{{consulta.id_paciente}}" class="text-secondary" type="button" data-toggle="modal" data-target="#LongModalLongEditar{{consulta.id_paciente}}"><i class="fa fa-edit"></i></a></li-->
                                                        {% if identidad['id_rol']==2 %}
                                                            <li class="mr-3"><a href="" class="text-secondary" type="button" data-toggle="modal" data-target="#LongModalLongEditar{{consulta.id_consulta}}"><i class="fa fa-edit"></i></a></li>
                                                        {% endif %}
                                                        
                                                        <li class="mr-3"><a href="/consultas/pdf/{{consulta.id_consulta}}" target="_blank"><i class="fa fa-file-pdf-o"> Generar Informe</i></a></li>
                                                        <!--li><a href="#" class="text-danger"><i class="ti-trash"></i></a></li-->
                                                    </ul>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    
                                </tbody>
                            </table>
                        </div>

                        {% if consultas %}
                            {% for consulta in consultas%}
                                <div class="modal fade" id="LongModalLongEditar{{consulta.id_consulta}}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Editar Consulta</h5>
                                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                            </div>
                                            <div class="modal-body">
                                                
                                                <form id="crear_paciente_form" action="/consultas/editar/{{consulta.id_consulta}}/{{consulta.id_paciente}}" method="POST" enctype="multipart/form-data">
                                                    <!--form id="crear_usuario_form"-->
                                                    <!--
                                                        
                                                    -->
                                                        
                                                        
                                                        <div class="form-group">
                                                            <label for="nombrePaciente">Nombre del Paciente</label>
                                                            <input class="form-control" type="text" id="nombrePaciente" name="nombrePaciente" readonly value="{{consulta.nombres_paciente}} {{consulta.apellido_paterno_paciente}} {{consulta.apellido_materno_paciente}}">
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="input_fecha" class="col-form-label">Fecha Consulta</label>
                                                            <input class="form-control" name="input_fecha" type="date" value="{{consulta.fecha}}" id="input_fecha">
                                                        </div>
        
                                                        <div class="form-group">
                                                            <label for="input_motivo_consulta" class="col-form-label">Motivo de Consulta</label>
                                                            <input class="form-control" name="input_motivo_consulta" type="text" value="{{consulta.motivo}}" id="input_motivo_consulta">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="input_historia_enfermedad" class="col-form-label">Descripción Enfermedad Actual</label>
                                                            <input class="form-control" type="textarea" value="{{consulta.historia_enfermedad}}" id="input_historia_enfermedad" name="input_historia_enfermedad">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="input_enfermedades" class="col-form-label">Enfermedades</label>
                                                            <input class="form-control" type="text" value="{{consulta.enfermedades}}" id="input_enfermedades" name="input_enfermedades">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="input_tabaco">Consulmo de Tabaco</label>
                                                            <select class="custom-select" id="input_tabaco" name="input_tabaco">
                                                                
                                                                {% if consulta.tabaco == "Si" %}
                                                                    <option value="Si" selected>Si</option>
                                                                    <option value="No">No</option>
                                                                {% else %}
                                                                    <option value="Si">Si</option>
                                                                    <option value="No" selected>No</option>
                                                                {% endif %}
                                                                
                                                               
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="input_alcohol">Consulmo de Alcohol</label>
                                                            <select class="custom-select" id="input_alcohol" name="input_alcohol">
                                                                {% if consulta.alcohol == "Si" %}
                                                                    <option value="Si" selected>Si</option>
                                                                    <option value="No">No</option>
                                                                {% else %}
                                                                    <option value="Si">Si</option>
                                                                    <option value="No" selected>No</option>
                                                                {% endif %}
                                                                
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="input_drogas">Consulmo de Drogas</label>
                                                            <select class="custom-select" id="input_drogas" name="input_drogas">
                                                                {% if consulta.drogas == "Si" %}
                                                                    <option value="Si" selected>Si</option>
                                                                    <option value="No">No</option>
                                                                {% else %}
                                                                    <option value="Si">Si</option>
                                                                    <option value="No" selected>No</option>
                                                                {% endif %}
                                                                
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="input_diagnostico" class="col-form-label">Diagnostico</label>
                                                            <input class="form-control" type="text" value="{{consulta.diagnostico}}" id="input_diagnostico" name="input_diagnostico">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="input_tratamiento" class="col-form-label">Tratamiento</label>
                                                            <input class="form-control" type="text" value="{{consulta.tratamiento}}" id="input_tratamiento" name="input_tratamiento">
                                                        </div>
                                                        
                                                        <div class="form-group">
                                                            <label for="input_internacion_paciente">Internación del Paciente</label>
                                                            <select class="custom-select" id="input_internacion_paciente" name="input_internacion_paciente">
                                                                {% if consulta.internacion == 1 %}
                                                                    <option value="1" selected>Si</option>
                                                                    <option value="0">No</option>
                                                                {% else %}
                                                                    <option value="1">Si</option>
                                                                    <option value="0" selected>No</option>
                                                                {% endif %}
                                                                
                                                            </select>
                                                        </div>
        
                                                        <div class="form-group">
                                                            <label for="input_codigo_consulta" class="col-form-label">Código de Consulta</label>
                                                            <input class="form-control" type="text" value="{{consulta.codigo_consulta}}" id="input_codigo_consulta" name="input_codigo_consulta">
                                                        </div>
                                                                
                                                        
                                                        <button id="boton_agregar_consulta" type="submit" class="btn btn-success mb-3">Guardar Cambios</button>
                        
                                                    </form>
                                                
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                                <!--button for="crear_usuario_form" type="submit" class="btn btn-success">Agregar Usuario</button-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% if identidad['id_rol']==3 %}
                            <a href="" class="text-success" type="button" data-toggle="modal" data-target="#LongModalLongCrearHojaControl"><i class="ti-plus"></i> Agregar Hoja de Control</a>
                        {% endif %}


                        

                        <div class="modal fade" id="LongModalLongCrearHojaControl">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Agregar Hoja de Control de Signos Vitales</h5>
                                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="crear_paciente_form" action="/pacientes/control_signos_vitales/agregar/{{paciente.id_paciente}}" method="POST" enctype="multipart/form-data">
                                            <!--form id="crear_usuario_form"-->

                                                <div class="form-group">
                                                    <label for="nombrePaciente">Nombre del Paciente</label>
                                                    <input class="form-control" type="text" id="nombrePaciente" name="nombrePaciente" value="{{paciente.nombres}} {{paciente.apellido_paterno}} {{paciente.apellido_materno}}" readonly>
                                                </div>

                                                <div class="form-group">
                                                    <label for="consulta">Consulta</label>
                                                    <select class="custom-select" id="input_consulta" name="input_consulta">
                                                        <option selected>Seleccione una opcion</option>
                                                        {% if consultas %}
                                                            {% for consulta in consultas %}
                                                                <option value="{{consulta.id_consulta}}">Consulta {{consulta.id_consulta}} en fecha {{consulta.fecha}}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                        
                                                    </select>
                                                </div>
                                                


                                                <div class="form-group">
                                                    <label for="input_peso" class="col-form-label">Peso</label>
                                                    <input class="form-control" name="input_peso" type="number" value="" id="input_peso" min="0" max="400" step="0.01">
                                                </div>
                                                <div class="form-group">
                                                    <label for="input_talla" class="col-form-label">Talla</label>
                                                    <input class="form-control" type="number" value="" id="input_talla" name="input_talla" min="0" max="250" step="0.01">
                                                </div>
                                                <div class="form-group">
                                                    <label for="input_servicio" class="col-form-label">Servicio</label>
                                                    <input class="form-control" type="text" value="" id="input_servicio" name="input_servicio">
                                                </div>
                                                <div class="form-group">
                                                    <label for="input_pieza" class="col-form-label">Pieza del Paciente</label>
                                                    <input class="form-control" type="text" value="" id="input_pieza" name="input_pieza">
                                                </div>      
                                                <button id="boton_agregar_hoja" type="submit" class="btn btn-success mb-3">Agregar Hoja</button>
                
                                            </form>
                                        
                                        
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                        <!--button for="crear_usuario_form" type="submit" class="btn btn-success">Agregar Usuario</button-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                        <br>
                        <br>
                        <div class="data-tables">
                            
                            <table id="dataTable2" class="text-center">
                                
                                <thead class="bg-light text-capitalize">
                                    <tr>
                                        <th>No.</th>
                                        
                                        <th>Numero de Hoja</th>
                                        <th>Servicio</th>
                                        <th>Edad</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    {% if hojas_control %}
                                        {% for hoja in hojas_control %}
                                            <tr>
                                                <td>{{hoja.id_hoja}}</td>
                                                
                                                <td>{{hoja.numero_hoja}}</td>
                                                <td>{{hoja.servicio}}</td>
                                                <td>{{hoja.edad}}</td>
                                                <td>
                                                    <ul class="d-flex justify-content-center">
                                                        {% if identidad['id_rol']==3 %}
                                                            <li class="mr-3"><a href="" class="text-secondary" type="button" data-toggle="modal" data-target="#LongModalLongEditarHojaControl{{hoja.id_hoja}}"><i class="fa fa-edit"></i></a></li>    
                                                        {% endif %}
                                                        <li class="mr-3"><a href="/pacientes/control_signos_vitales/ver/{{hoja.id_hoja}}" class="text-secondary"><i class="ti-eye"></i></a></li>    
                                                        <!--li class="mr-3"><a href="/control_signos_vitales/editar/{{hoja.id_paciente}}" class="text-secondary"><i class="fa fa-edit"></i></a></li-->
                                                        
                                                        <!--li><a href="#" class="text-danger"><i class="ti-trash"></i></a></li-->
                                                    </ul>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    
                                </tbody>
                            </table>
                        </div>
                        {% if hojas_control %}
                            {% for editar_hoja in hojas_control %}
                                <div class="modal fade" id="LongModalLongEditarHojaControl{{editar_hoja.id_hoja}}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Editar Hoja de Control de Signos Vitales</h5>
                                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="crear_paciente_form" action="/control_signos_vitales/editar/{{editar_hoja.id_hoja}}/{{editar_hoja.id_paciente}}" method="POST" enctype="multipart/form-data">
                                                    <!--form id="crear_usuario_form"-->
                                                        <div class="form-group">
                                                            <label class="col-form-label">Paciente de la clinica</label>
                                                            <input class="form-control" value="{{editar_hoja.nombres}} {{editar_hoja.apellido_paterno}} {{editar_hoja.apellido_materno}}" type="text" disabled>
                                                            <!--select class="custom-select" id="input_paciente" name="input_paciente">
                                                                <option selected="selected">Selecciona un Paciente</option>
                                                                {% for paciente in pacientes %}
                                                                    <option value="{{paciente.id_paciente}}">{{paciente.nombres}} {{paciente.apellido_paterno}} {{paciente.apellido_materno}}</option>
                                                                {% endfor %}
                                                                        
                                                            </select-->
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="consulta">Consulta</label>
                                                            <select class="custom-select" id="input_consulta" name="input_consulta">
                                                                {% if consultas %}
                                                                    {% for consulta in consultas %}
                                                                        {% if consulta.id_consulta==editar_hoja.id_consulta %}
                                                                            <option value="{{consulta.id_consulta}}" selected>Consulta {{consulta.id_consulta}} en fecha {{consulta.fecha}}</option>
                                                                        {% else %}
                                                                            <option value="{{consulta.id_consulta}}">Consulta {{consulta.id_consulta}} en fecha {{consulta.fecha}}</option>
                                                                        {% endif %}
                                                                        
                                                                    {% endfor %}
                                                                {% endif %}
                                                                
                                                            </select>
                                                        </div>


                                                        <div class="form-group">
                                                            <label for="input_peso" class="col-form-label">Peso</label>
                                                            <input class="form-control" name="input_peso" type="number" value="{{editar_hoja.peso}}" id="input_peso" min="0" max="400" step="0.01">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="input_talla" class="col-form-label">Talla</label>
                                                            <input class="form-control" type="number" value="{{editar_hoja.talla}}" id="input_talla" name="input_talla" min="0" max="250" step="0.01">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="input_servicio" class="col-form-label">Servicio</label>
                                                            <input class="form-control" type="text" value="{{editar_hoja.servicio}}" id="input_servicio" name="input_servicio">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="input_pieza" class="col-form-label">Pieza del Paciente</label>
                                                            <input class="form-control" type="text" value="{{editar_hoja.pieza}}" id="input_pieza" name="input_pieza">
                                                        </div>      
                                                        <button id="boton_agregar_hoja" type="submit" class="btn btn-success mb-3">Guardar Cambios</button>
                        
                                                    </form>
                                                
                                                
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                                <!--button for="crear_usuario_form" type="submit" class="btn btn-success">Agregar Usuario</button-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        

                    </div>
                </div>
            </div>

            
        </div>
    </div>
    <script src="{{url_for('static', filename='assets/js/pacientes.js')}}"></script>

    <script src="{{url_for('static', filename='assets/js/vendor/jquery-2.2.4.min.js')}}"></script>

    <script src="{{url_for('static', filename='assets/js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/owl.carousel.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/metisMenu.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/jquery.slimscroll.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/jquery.slicknav.min.js')}}"></script>


    <script src="{{url_for('static', filename='assets/js/jquery.dataTables.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/dataTables.bootstrap4.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/dataTables.responsive.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/responsive.bootstrap.min.js')}}"></script>

    <script src="{{url_for('static', filename='assets/js/plugins.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/scripts.js')}}"></script>

    <!--script src="{{url_for('static', filename='assets/js/consultar_datos.js')}}"></script-->
    
{% endblock %}
